.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(25vh - 37px) calc(65vh - 96.2px) calc(10vh - 14.8px);
  gap: 24px;
  max-width: 2316px;
  margin: 0 auto;
  outline: solid red 1px;
}



.content {
  outline: solid yellow 1px;
  order: 2;
  max-width: 756px;
}
.content-button {
  order: 4;
}

img {
  max-width: 100%;
}
